<p id="notice"><%= notice %></p>

<h1>Listing User Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Debit account no</th>
      <th>Amount deposit</th>
      <th>Deposit type</th>
      <th>Tenure of deposit</th>
      <th>Pan no</th>
      <th>Maturity proceeds</th>
      <th>Mobile no</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.debit_account_no %></td>
        <td><%= user_account.amount_deposit %></td>
        <td><%= user_account.deposit_type %></td>
        <td><%= user_account.tenure_of_deposit %></td>
        <td><%= user_account.pan_no %></td>
        <td><%= user_account.maturity_proceeds %></td>
        <td><%= user_account.mobile_no %></td>
        <td><%= user_account.email %></td>
        <td><%= link_to 'Show', user_account %></td>
        <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
        <td><%= link_to 'Destroy', user_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User account', new_user_account_path %>
